.editor-heading {
    border-radius: 10px;
    padding: 15px;
    background: #8D94AF;
    font-weight: 700;
}
.editor-result{
    border-radius: 10px;
    padding: 15px;
    background-color: #8D94AF;
    font-weight: 700;
}
.editor-heading+div{
    min-height: 200px !important;
} 
.button{
    background-color: #555555; /* Green */
    border: none;
    color: #e7e7e7;
    padding: 4px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
  }
.textarea{
    background-color: black !important;
}