:root {
    --h1-font-size: 30px;
    --h2-font-size: 28px;
    --h6-font-size: 20px;
    --footer-font-size: 18px;

    --near-color-royal: #5f8afa;

    --near-font-headlines: Inter, sans-serif;
    --near-font-body: Inter, sans-serif;
}

[data-theme="dark"] {
    --ifm-color-primary: #82aaff;
    --near-color-royal: #82aaff;

    hr {
        background-color: #2d2d2d;
    }
}

[data-theme='light'] li hr {
    background-color: #f8f8f8;
}

body {
    font-family: var(--near-font-body);
    color: var(--ifm-font-color-base);
    line-height: inherit;
    text-align: left;
}

.big-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
}

.features a[href^="http"]::after {
    content: "";
}

hr {
    height: 1px;
    border-radius: 0;
    margin: 3.5em 0;
}

.landing {
    margin: 2.5em 0 1.5em 0;
}

ol li::marker {
    color: var(--near-color-royal);
    font-weight: 600;
}

ul li::marker {
    color: var(--near-color-royal);
    font-weight: 600;
}

.subsection {
    width: 50%;
    margin: 2.5em auto;
    height: 0.5px;
}

.text-center {
    text-align: center !important;
}

strong {
    font-weight: 600;
}

.theme-admonition {
    margin-top: 2em;
}

/* Cards */
.card {
    margin: 2em 0em;
}

.cards a[href^="http"]::after {
    content: "";
}

a:hover {
    text-decoration: none;
}

.card:hover {
    -webkit-transform: translateY(-0.5em);
    -moz-transform: translateY(-0.5em);
    -o-transform: translateY(-0.5em);
    -ms-transform: translateY(-0.5em);
    transform: translateY(-0.5em);
}

.card__image {
    overflow: hidden;
    border: 0;
    max-height: 168px;
}

.card__image img {
    min-width: 100%;
}

.card__body h3 {
    margin: 0em 0 0.3em 0 !important;
    color: var(--ifm-font-color-base);
}

.card__body {
    color: var(--ifm-font-color-base);
}

/* for image caption */
img+em,
.tabs-container+p em,
table+p em,
.code_iframe+p em,
.theme-code-block+p em {
    font-style: normal;
    display: inherit;
    text-align: center;
    font-size: 90%;
    margin: 0.5em 0 0 0;
}

.theme-code-block {
    max-height: 50vh;
    overflow: auto;
}

.tabs-container+p em {
    margin: -1em 0 0 0;
}

/* Language selection Tabs*/
.language-tabs li:hover {
    background-color: transparent;
}

.file-tabs {
    background-color: var(--ifm-color-scheme);
    margin: 0px 0 -1rem 0rem;
    font-size: small;
}

.file-tabs li {
    padding: 0.5rem 0 0 0;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.file-tabs li:hover {
    background-color: transparent;
}

/* navbar height overrides */
[data-theme='light'] .navbar {
    background-color: #f8f9fa;
}

.navbar {
    height: auto !important;
    padding: 0.8rem;
}

.navbar__item:first-of-type {
    padding-left: .4rem;
}

.navbar__logo {
    height: 28px;
}

.navbar .separator {
    border: 1px #999 solid;
}

.navbar .subtitle {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    font-weight: 600;
    color: #999;
}

/* fonts and headers */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--near-font-headlines);
    text-align: left;
}

h1 {
    font-size: var(--h1-font-size);
    margin: 0 0 0 0;
    font-weight: 600;
}

h2 {
    font-size: var(--h2-font-size);
    margin: 10 0 0 0;
    font-weight: 600;
}

h3 {
    font-weight: 600;
    margin: 1.75em 0 0.5em 0 !important;
}

h4 {
    margin: 2em 0 0.5em 0 !important;
}

/* global spacing */
.docMainWrapper .wrapper,
.headerWrapper.wrapper,
.wrapper {
    padding: 25px;
    margin: 25px;
}

article {
    margin: 2rem 2rem 2rem 3rem;
}

.menu {
    padding: .7rem .5rem !important;
}

li hr {
    height: 4px;
    margin: 0.4em auto;
    width: 93%;
    border-width: 0;
}

li > ul {
    margin-top: 0.4rem;
}

.menu__list .menu__list li hr {
    background-color: #e8f0f9;
    height: 2px;
}

table {
    display: inline-table;
    min-width: 100%;
}

.theme-doc-toc-mobile {
    display: none;
}

.theme-doc-breadcrumbs {
    margin-bottom: 1.5rem !important;
}

.breadcrumbs__link {
    padding-left: 0;
}

.breadcrumbs__item--active .breadcrumbs__link {
    background-color: transparent !important;
}

.breadcrumbs__link:hover {
    background-color: transparent !important;
}

a {
    color: var(--near-color-royal);
}

footer .menu-item a {
    color: white;
}

.theme-edit-this-page {
    color: var(--near-color-royal);
}

html:not(.blog-post-page) .avatar {
    color: var(--ifm-font-color-base);
    margin: 1rem auto auto;
}

html:not(.blog-post-page) .avatar img {
    border-radius: 0%;
    display: block;
    overflow: hidden;
    height: 3rem;
    width: 3rem;
}

html:not(.blog-post-page) .avatar__photo {
    border-radius: 0%;
}

img+em,
iframe+em {
    font-style: normal;
    display: inherit;
    text-align: center;
    font-size: 90%;
    margin: 0.5em 0 2rem 0;
}

.monaco+em {
    font-style: normal;
    display: inherit;
    text-align: right;
    font-size: 90%;
    margin: 0.5em 0 0 0;
}

/* Widget Editor */
.monaco {
    border-radius: 10px;
    background-color: #f6f8fa;
    padding: 1rem;
}

.code_iframe {
    border-radius: 10px;
    border: 3px solid #9a9a9a;
    padding: 1rem;
    margin: 1rem 0 2rem 0;
}

.vm-widget {
    min-width: 100%;
    max-height: 300px;
    overflow-y: auto;
}

.monaco-editor-background {
    background-color: #f6f8fa !important;
}

/* Github Logo */
.header-github-link:hover {
    opacity: 0.6;
}

.header-github-link::before {
    content: '';
    width: 16px;
    height: 16px;
    margin-right: 5px;
    display: inline-flex;
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
}

[data-theme='dark'] .header-github-link::before {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
}

@media (max-width: 1140px) {
    article {
        margin: 1.5rem 1.5rem 1.5rem 2rem;
    }
}

/* BOOTSTRAP */
/* TODO: Include this from file */
@import './bootstrap.scss';

#near-wallet-selector-modal {
    .nws-modal-wrapper .nws-modal .modal-left .modal-left-title h2 {
        font-family: inherit;
    }

    .nws-modal-wrapper .nws-modal .modal-right .nws-modal-header h3.middleTitle {
        margin: 4px auto !important;
        font-family: inherit;
    }

    .nws-modal-wrapper .nws-modal .modal-right .wallet-what .content-side h3 {
        margin: 0 auto 8px 0 !important;
    }
}

/* 404 page */
.p404 h4 {
    font-weight: 400 !important;
}

/*
Feedback widget CSS customization
https://www.feelback.dev/docs/guides/stripe-like-documentation-feedback-for-docusaurus/
*/
@import "@feelback/react/styles/feelback.css";

.feelback-container .feelback-btn {
    background-color: #1a8870;
    color: white;
}

.feelback-container textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem;
}

/* Announcement bar */
div[class^="announcementBar_"] {
    --site-announcement-bar-stripe-color1: #ddfdfd;
    --site-announcement-bar-stripe-color2: #cbe3fd;
    background: repeating-linear-gradient(45deg, var(--site-announcement-bar-stripe-color1), var(--site-announcement-bar-stripe-color1) 20px, var(--site-announcement-bar-stripe-color2) 10px, var(--site-announcement-bar-stripe-color2) 40px);
    font-size: 16px;
    font-weight: 600;
}

/* Code Explainer */

.col-blocks {
    --ifm-col-width: calc(4.5 / 12 * 100%) !important;
    padding-right: 0;
}

.col-files {
    --ifm-col-width: calc(7.5 / 12 * 100%) !important;
}

.block-selected {
    border-left: 2px solid var(--near-color-royal) !important;
}

.block {
    font-size: .95em;
    text-align: justify;
    padding: 0 .8em 0 1em !important;
    border-left: 2px solid #eee;
}

.block:hover {
    border-left: 2px solid #c4ebfb;
    cursor: pointer;
}

/* Blog Post */

#__blog-post-container {
    h2 {
        margin-top: 4rem;
    }
} 

#__blog-post-container {
    padding-top: 1rem;
    text-align: justify;
}

#__blog-post-container img {
    width: 100%;
}