:root {
    --h1-font-size: 30px;
    --h2-font-size: 28px;
    --h6-font-size: 20px;
    --footer-font-size: 18px;

    --near-color-royal: #5f8afa;

    --near-font-headlines: Inter, sans-serif;
    --near-font-body: Inter, sans-serif;
}

[data-theme="dark"] {
    --ifm-color-primary: #82aaff;
    --near-color-royal: #82aaff;
}

[data-theme='light'] li hr {
    background-color: #f8f8f8;
}

article a[href^="http"]::after {
    content: url("data:image/svg+xml,%3Csvg fill='%235f8afaff' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z'/%3E%3C/svg%3E");
    width: 0.6rem;
    display: inline-block;
    margin-left: 0.3rem;
}

body {
    font-family: var(--near-font-body);
    color: var(--ifm-font-color-base);
    line-height: inherit;
    text-align: left;
}

.big-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
}



.features a[href^="http"]::after {
    content: "";
}

hr {
    height: 1px;
    border-radius: 0;
    margin: 3.5em 0;
}

.landing {
    margin: 2.5em 0 1.5em 0;
}

li hr {
    height: 4px;
    margin: 0.2em auto;
    width: 90%;
    border-width: 0;
}



ol li::marker {
    color: var(--near-color-royal);
    font-weight: 600;
}

.subsection {
    width: 50%;
    margin: 2.5em auto;
    height: 0.5px;
}

.text-center {
    text-align: center !important;
}



strong {
    font-weight: 600;
}

.theme-admonition {
    margin-top: 2em;
}

/* Cards */
.card {
    margin: 2em 0em;
    border: 0;
    border-radius: 0;
}

.cards a[href^="http"]::after {
    content: "";
}

a:hover {
    text-decoration: none;
}

.card:hover {
    -webkit-transform: translateY(-0.5em);
    -moz-transform: translateY(-0.5em);
    -o-transform: translateY(-0.5em);
    -ms-transform: translateY(-0.5em);
    transform: translateY(-0.5em);
}

.card__image {
    overflow: hidden;
    border: 0;
    max-height: 215px;
}

.card__image img {
    min-width: 100%;
}

.card__body h3 {
    margin: 0em 0 0.3em 0 !important;
    color: var(--ifm-font-color-base);
}

.card__body {
    color: var(--ifm-font-color-base);
}

/* for image caption */
img+em,
.tabs-container+p em,
.theme-code-block+p em {
    font-style: normal;
    display: inherit;
    text-align: center;
    font-size: 90%;
    margin: 0.5em 0 0 0;
}

.tabs-container+p em {
    margin: -1em 0 0 0;
}

/* Language selection Tabs*/
.language-tabs li:hover {
    background-color: transparent;
}

.file-tabs {
    margin: 0px 0 -1rem 0rem;
    font-size: small;
}

.file-tabs li {
    padding: 0.5rem 0 0 0;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.file-tabs li:hover {
    background-color: transparent;
}

/* navbar height overrides */
[data-theme='light'] .navbar {
    background-color: #f8f9fa;
}

.navbar {
    height: auto !important;
    padding: 0.8rem;
}

.navbar .subtitle {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    font-weight: 600;
    color: #999;
}

/* fonts and headers */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--near-font-headlines);
    text-align: left;
}

h1 {
    font-size: var(--h1-font-size);
    margin: 0 0 0 0;
    font-weight: 600;
}

h2 {
    font-size: var(--h2-font-size);
    margin: 10 0 0 0;
    font-weight: 600;
}

h3 {
    font-weight: 600;
    margin: 1.5em 0 0.5em 0 !important;
}

h4 {
    margin: 2em 0 0.5em 0 !important;
}

/* global spacing */
.docMainWrapper .wrapper,
.headerWrapper.wrapper,
.wrapper {
    padding: 25px;
    margin: 25px;
}

article {
    margin: 1.8rem 1.4rem 1.8rem 3rem;
}

.menu {
    padding: .7rem .5rem !important;
}

.theme-doc-toc-mobile {
    display: none;
}

.theme-doc-breadcrumbs {
    margin-bottom: 1.5rem !important;
}

.breadcrumbs__link {
    border: 1px solid #eee;
}

a {
    color: var(--near-color-royal);
}

footer .menu-item a {
    color: white;
}

footer a {
    color: white;
}

.theme-edit-this-page {
    color: var(--near-color-royal);
}

.avatar {
    color: var(--ifm-font-color-base);
    margin: 1rem auto;
}

.avatar img {
    border-radius: 0%;
    display: block;
    overflow: hidden;
    height: 3rem;
    width: 3rem;
}

.avatar__photo {
    border-radius: 0%;
}

img+em,
iframe+em {
    font-style: normal;
    display: inherit;
    text-align: center;
    font-size: 90%;
    margin: 0.5em 0 2rem 0;
}

.monaco+em {
    font-style: normal;
    display: inherit;
    text-align: right;
    font-size: 90%;
    margin: 0.5em 0 0 0;
}

/* Widget Editor */
.monaco {
    border-radius: 10px;
    background-color: #f6f8fa;
    padding: 1rem;
}

.code_iframe {
    border-radius: 10px;
    border: 3px solid #9a9a9a;
    padding: 1rem;
    margin: 1rem 0 2rem 0;
}

.vm-widget {
    min-width: 100%;
    max-height: 300px;
    overflow-y: auto;
}

.monaco-editor-background {
    background-color: #f6f8fa !important;
}

.header-github-link:hover {
    opacity: 0.6;
}

.header-github-link::before {
    content: '';
    width: 24px;
    height: 24px;
    display: flex;
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
}

[data-theme='dark'] .header-github-link::before {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
}

// Navbar collapse before
// A change in this setting has to be reflected in ./src/theme/Navbar/MobileSidebar/index.js
@media (max-width: 1255px) {

    .navbar>.container,
    .navbar>.container-fluid {
        padding: 0
    }

    .navbar__toggle {
        display: inherit
    }

    .navbar__item {
        display: none
    }

    .navbar__search-input {
        width: 9rem
    }
}

@media (max-width: 996px) {
    article {
        margin: 0.5rem 1.5rem;
    }

    .col {
        flex-basis: max-content !important;
        padding: 0 calc(var(--ifm-spacing-horizontal)/2);
    }
}

@media (min-width: 996px) {
    /* columns */
    .col, .col:only-child {
        padding: 0 calc(var(--ifm-spacing-horizontal)/2);
    }

    .col:last-child {
        padding: 0 0 0 calc(var(--ifm-spacing-horizontal)/2);
    }

    .col:first-child {
        padding: 0 calc(var(--ifm-spacing-horizontal)/2) 0 0;
    }
}

/* BOOTSTRAP */
/* TODO: Include this from file */
@import './bootstrap.scss'