/* ------------------------------------------- */
/* VARIABLE OVERRIDES */
/* ------------------------------------------- */

:root {
    --ifm-color-scheme: light;

    --ifm-color-primary: #5f8afa;
    --ifm-color-secondary: #f8f8f8;
    --ifm-color-success: #aad055;
    --ifm-color-info: #4fd1d9;
    --ifm-color-warning: #e3935b;
    --ifm-color-danger: #db5555;

    --ifm-color-primary-dark: #3e72f9;
    --ifm-color-primary-darker: #2d65f8;
    --ifm-color-primary-darkest: #0746ea;
    --ifm-color-primary-light: #80a2fb;
    --ifm-color-primary-lighter: #91affc;
    --ifm-color-primary-lightest: #c3d3fd;
    --ifm-color-primary-contrast-background: var(--ifm-color-secondary);
    --ifm-color-primary-contrast-foreground: var(--ifm-heading-color);

    --ifm-color-secondary-dark: #dfdfdf;
    --ifm-color-secondary-darker: #d3d3d3;
    --ifm-color-secondary-darkest: #aeaeae;
    --ifm-color-secondary-light: #ffffff;
    --ifm-color-secondary-lighter: #ffffff;
    --ifm-color-secondary-lightest: #ffffff;
    --ifm-color-secondary-contrast-background: var(--ifm-color-secondary);
    --ifm-color-secondary-contrast-foreground: var(--ifm-heading-color);

    --ifm-color-success-dark: #9fca3e;
    --ifm-color-success-darker: #97c336;
    --ifm-color-success-darkest: #7da12c;
    --ifm-color-success-light: #b5d66c;
    --ifm-color-success-lighter: #bbda77;
    --ifm-color-success-lightest: #cce39a;
    --ifm-color-success-contrast-background: var(--ifm-color-secondary);
    --ifm-color-success-contrast-foreground: var(--ifm-heading-color);

    --ifm-color-info-dark: #37cbd4;
    --ifm-color-info-darker: #2dc6cf;
    --ifm-color-info-darkest: #25a3aa;
    --ifm-color-info-light: #67d7de;
    --ifm-color-info-lighter: #74dbe1;
    --ifm-color-info-lightest: #98e4e9;
    --ifm-color-info-contrast-background: var(--ifm-color-secondary);
    --ifm-color-info-contrast-foreground: var(--ifm-heading-color);

    --ifm-color-warning-dark: #de8140;
    --ifm-color-warning-darker: #dc7832;
    --ifm-color-warning-darkest: #be6120;
    --ifm-color-warning-light: #e8a576;
    --ifm-color-warning-lighter: #eaae84;
    --ifm-color-warning-lightest: #f1c9ac;
    --ifm-color-warning-contrast-background: var(--ifm-color-secondary);
    --ifm-color-warning-contrast-foreground: var(--ifm-heading-color);

    --ifm-color-danger-dark: #d63c3c;
    --ifm-color-danger-darker: #d32f2f;
    --ifm-color-danger-darkest: #b02525;
    --ifm-color-danger-light: #e06e6e;
    --ifm-color-danger-lighter: #e37b7b;
    --ifm-color-danger-lightest: #eba0a0;
    --ifm-color-danger-contrast-background: var(--ifm-color-secondary);
    --ifm-color-danger-contrast-foreground: var(--ifm-heading-color);

    --ifm-color-white: #fff;
    --ifm-color-black: #000;

    --ifm-color-gray-0: var(--ifm-color-white);
    --ifm-color-gray-100: #f5f6f7;
    --ifm-color-gray-200: #e5e5e5;
    --ifm-color-gray-300: #d1d1d1;
    --ifm-color-gray-500: #a7a7a7;
    --ifm-color-gray-700: #676767;
    --ifm-color-gray-800: #3f4246;
    --ifm-color-gray-900: #262626;
    --ifm-color-gray-1000: var(--ifm-color-black);

    --ifm-color-emphasis-0: var(--ifm-color-gray-0);
    --ifm-color-emphasis-100: var(--ifm-color-gray-100);
    --ifm-color-emphasis-200: var(--ifm-color-gray-200);
    --ifm-color-emphasis-300: var(--ifm-color-gray-300);
    --ifm-color-emphasis-500: var(--ifm-color-gray-500);
    --ifm-color-emphasis-700: var(--ifm-color-gray-700);
    --ifm-color-emphasis-800: var(--ifm-color-gray-800);
    --ifm-color-emphasis-900: var(--ifm-color-gray-900);
    --ifm-color-emphasis-1000: var(--ifm-color-gray-1000);

    --ifm-color-content: var(--ifm-color-emphasis-800);
    --ifm-color-content-inverse: var(--ifm-color-emphasis-0);
    --ifm-color-content-secondary: var(--ifm-color-gray-700);

    --ifm-global-border-width: 1px;
    --ifm-global-radius: 0;

    --ifm-hover-overlay: transparent;

    --ifm-font-family-base: Manrope, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --ifm-font-family-monospace: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    --ifm-font-size-base: .875rem;

    --ifm-font-weight-normal: 500;
    --ifm-font-weight-semibold: 600;
    --ifm-font-weight-bold: 700;

    --ifm-line-height-base: 1.6;

    --ifm-global-shadow-lw: 0 .125rem 1rem rgba(95, 138, 250, .125);
    --ifm-global-shadow-md: 0 .25rem 2rem rgba(95, 138, 250, .25);
    --ifm-global-shadow-tl: 0 .25rem 2rem rgba(95, 138, 250, .25);

    --ifm-pre-line-height: 1.4;
    --ifm-pre-padding: var(--ifm-leading);

    --ifm-heading-color: var(--ifm-color-emphasis-900);
    --ifm-heading-font-weight: var(--ifm-font-weight-normal);

    --ifm-h1-font-size: 2.5rem;
    --ifm-h2-font-size: 1.875rem;
    --ifm-h3-font-size: 1.25rem;
    --ifm-h4-font-size: 1.125rem;
    --ifm-h5-font-size: 1rem;
    --ifm-h6-font-size: 1rem;

    --ifm-leading-desktop: 1;
    --ifm-leading: calc(var(--ifm-leading-desktop) * 1.5rem);
    --ifm-list-left-padding: 2rem;

    --ifm-table-stripe-background: none;
    --ifm-table-border-width: var(--ifm-global-border-width);
    --ifm-table-border-color: var(--ifm-color-emphasis-200);
    --ifm-table-head-font-weight: var(--ifm-font-weight-semibold);

    --ifm-blockquote-font-size: inherit;
    --ifm-blockquote-border-left-width: var(--ifm-global-border-width);
    --ifm-blockquote-border-color: var(--ifm-color-emphasis-200);

    --ifm-hr-border-color: var(--ifm-color-emphasis-200);
    --ifm-hr-border-width: var(--ifm-global-border-width);

    --ifm-alert-border-left-width: var(--ifm-global-border-width);
    --ifm-alert-shadow: 'none';

    --ifm-toc-border-color: var(--ifm-color-emphasis-200);
    --ifm-toc-padding-vertical: 0;

    --ifm-menu-link-padding-horizontal: .5rem;
    --ifm-menu-link-padding-vertical: .25rem;
    --ifm-menu-link-sublist-icon: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.4146 12.7121C16.1317 13.0515 15.6273 13.0974 15.2879 12.8146L9.92806 8.34804C9.85389 8.28623 9.74615 8.28624 9.67198 8.34804L4.31217 12.8146C3.97275 13.0974 3.46829 13.0515 3.18544 12.7121C2.90259 12.3727 2.94845 11.8683 3.28787 11.5854L8.64769 7.11889C9.31521 6.56262 10.2848 6.56262 10.9524 7.11889L16.3122 11.5854C16.6516 11.8683 16.6974 12.3727 16.4146 12.7121Z' fill='%235F8AFA'/%3E%3C/svg%3E%0A");

    --ifm-navbar-height: 4.5rem;
    --ifm-navbar-item-padding-horizontal: 1rem;
    --ifm-navbar-item-padding-vertical: .5rem;
    --ifm-navbar-padding-horizontal: 1.5rem;
    --ifm-navbar-padding-vertical: 1rem;
    --ifm-navbar-shadow: none;

    --ifm-tabs-color: var(--ifm-heading-color);
    --ifm-tabs-color-active: var(--ifm-color-primary);
    --ifm-tabs-color-active-border: var(--ifm-tabs-color-active);
    --ifm-tabs-padding-horizontal: 1rem;
    --ifm-tabs-padding-vertical: .5rem;
}


/* ------------------------------------------- */
/* BASE */
/* ------------------------------------------- */

html {
    font-weight: var(--ifm-font-weight-normal);
    -webkit-font-smoothing: auto;
    font-size: 1rem;
}

body {
    font-size: var(--ifm-font-size-base);
}

table {
    display: table;
    margin-bottom: var(--ifm-leading);
    width: 100%;
    text-align: left;
}

table thead {
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: var(--ifm-color-emphasis-700);
}

table thead tr {
    border-bottom-width: 0;
}

hr {
    border-top: 0;
}


/* ------------------------------------------- */
/* NAVBAR */
/* ------------------------------------------- */

.navbar {
    border-bottom: 1px solid var(--ifm-toc-border-color)
}

.navbar__brand {
    margin-right: 1.5rem;
}

.navbar__logo {
    height: 1.25rem;
}

.navbar__title {
    position: relative;
    top: 1px;
    font-size: 1rem;
    color: var(--ifm-color-success);
    background-image: -webkit-linear-gradient(var(--ifm-color-success) 20%, var(--ifm-color-info) 80%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar__link {
    font-weight: var(--ifm-font-weight-normal);
}

@media (min-width: 997px) {
    body [class*='searchBox_'] {
        padding: 0;
    }
}


/* ------------------------------------------- */
/* GRID */
/* ------------------------------------------- */

body .container {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    max-width: 64rem;
}

.row {
    margin: 0;
}

.row .col {
    padding: 0;
}


/* ------------------------------------------- */
/* MENU */
/* ------------------------------------------- */

.menu__link--sublist {
    font-weight: var(--ifm-font-weight-semibold);
    color: var(--ifm-heading-color);
}

.theme-doc-sidebar-menu>.menu__list-item>.menu__list-item-collapsible>.menu__link {
    font-size: 1.125rem;
}

.menu__link:hover,
.menu__caret:hover {
    color: var(--ifm-menu-color-active);
}

.menu__list {
    font-weight: var(--ifm-font-weight-normal);
}

.menu__list .menu__list {
    padding-left: 0;
}

.menu__link--sublist:after {
    background-size: auto;
}

.menu__list-item--collapsed>.menu__list-item-collapsible>.menu__link--sublist:after {
    opacity: .5;
    filter: grayscale(1);
}

.theme-doc-sidebar-menu>.menu__list-item:not(:first-child) {
    margin-top: 1rem
}

@media (min-width: 997px) {
    body .menu {
        padding: 1rem;
    }
}

@media (min-width: 997px) and (max-width: 1100px) {
    .navbar__brand {
        margin-right: 1rem;
    }

    .navbar__item {
        padding: .5rem;
    }
}


/* ------------------------------------------- */
/* MARKDOWN CONTENT */
/* ------------------------------------------- */

.markdown {
    --ifm-h1-vertical-rhythm-top: 1.6;
    --ifm-h2-vertical-rhythm-top: 1.4;
    --ifm-h3-vertical-rhythm-top: 1.3;
    --ifm-heading-vertical-rhythm-top: 1.2;

    --ifm-h1-vertical-rhythm-bottom: 1;
    --ifm-heading-vertical-rhythm-bottom: 1;
}

.markdown h1:first-child {
    --ifm-h1-font-size: 2.5rem;
}

.markdown>h2 {
    --ifm-h2-font-size: 1.5rem;
}

.markdown>h3 {
    --ifm-h3-font-size: 1.25rem;
}

@media (min-width: 997px) {
    body .col[class*='docItemCol_'] {
        padding-right: 4rem;
    }
}


/* ------------------------------------------- */
/* ALERTS / BLOCKQUOTES / ADMONITIONS */
/* ------------------------------------------- */

blockquote,
.alert {
    margin-bottom: var(--ifm-leading);
    --ifm-blockquote-border-color: var(--ifm-color-info);
    padding: var(--ifm-leading);
    background-color: var(--ifm-color-info-contrast-background);
    color: var(--ifm-color-info-contrast-foreground);
}

blockquote::before,
.alert::before {
    position: absolute;
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='11' stroke='%234fd1d9' stroke-width='2'/%3E%3Ccircle cx='12' cy='8' r='2' fill='%234fd1d9'/%3E%3Crect x='11' y='12' width='2' height='6' opacity='0.5' fill='%234fd1d9'/%3E%3C/svg%3E%0A");
}

details.alert {
    border-width: 0 0 0 var(--ifm-global-border-width);
}

details.alert summary {
    padding-left: 3.25rem;
}

details.alert summary::before {
    top: .35rem;
    left: 2.25rem;
}

body [class*='collapsibleContent_'] {
    margin-top: var(--ifm-leading);
    padding-top: var(--ifm-leading);
    border-top-color: var(--ifm-color-emphasis-200);
}

blockquote.danger .alert--danger {
    --ifm-blockquote-border-color: var(--ifm-color-danger);
    background-color: var(--ifm-color-danger-contrast-background);
    color: var(--ifm-color-danger-contrast-foreground);
}

blockquote.danger::before,
.alert--danger::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' transform='rotate(180)' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='11' stroke='%23db5555' stroke-width='2'/%3E%3Ccircle cx='12' cy='8' r='2' fill='%23db5555'/%3E%3Crect x='11' y='12' width='2' height='6' opacity='0.5' fill='%23db5555'/%3E%3C/svg%3E%0A");
}

blockquote.lesson,
.alert--lesson {
    --ifm-blockquote-border-color: var(--ifm-color-primary);
    background-color: var(--ifm-color-primary-contrast-background);
    color: var(--ifm-color-primary-contrast-foreground);
}

blockquote.lesson::before,
.alert--lesson::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='11' stroke='%235f8afa' stroke-width='2'/%3E%3Ccircle cx='12' cy='8' r='2' fill='%235f8afa'/%3E%3Crect x='11' y='12' width='2' height='6' opacity='0.5' fill='%235f8afa'/%3E%3C/svg%3E%0A");
}

blockquote.success,
.alert--success {
    --ifm-blockquote-border-color: var(--ifm-color-success);
    background-color: var(--ifm-color-success-contrast-background);
    color: var(--ifm-color-success-contrast-foreground);
}

blockquote.success::before,
.alert--success::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='11' stroke='%23aad055' stroke-width='2'/%3E%3Ccircle cx='12' cy='8' r='2' fill='%23aad055'/%3E%3Crect x='11' y='12' width='2' height='6' opacity='0.5' fill='%23aad055'/%3E%3C/svg%3E%0A");
}

blockquote.warning,
.alert--warning {
    --ifm-blockquote-border-color: var(--ifm-color-warning);
    background-color: var(--ifm-color-warning-contrast-background);
    color: var(--ifm-color-warning-contrast-foreground);
}

blockquote.warning::before,
.alert--warning::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' transform='rotate(180)' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' r='11' stroke='%23e3935b' stroke-width='2'/%3E%3Ccircle cx='12' cy='8' r='2' fill='%23e3935b'/%3E%3Crect x='11' y='12' width='2' height='6' opacity='0.5' fill='%23e3935b'/%3E%3C/svg%3E%0A");
}

.admonition-icon {
    display: none;
}

blockquote>*:first-child,
.admonition-heading h5 {
    padding-left: 2.25rem;
}

blockquote>strong:first-child,
blockquote>p:first-child>strong:only-child,
.admonition-heading h5 {
    font-size: .875rem;
    letter-spacing: .1em;
    line-height: 1.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-weight: var(--ifm-font-weight-semibold);
}

blockquote ul:first-child,
blockquote ol:first-child,
.alert ul:first-child,
.alert ol:first-child {
    padding-left: 3.75rem;
}

blockquote ul>li>p:first-child,
blockquote ol>li>p:first-child,
.alert ul>li>p:first-child,
.alert ol>li>p:first-child {
    margin-top: 0;
}

blockquote ul>li>p:last-child,
blockquote ol>li>p:last-child,
.alert ul>li>p:last-child,
.alert ol>li>p:last-child {
    margin-bottom: 0;
}


/* ------------------------------------------- */
/* TABS */
/* ------------------------------------------- */

.tabs-container {
    margin-bottom: var(--ifm-leading);
}

.tabs {
    font-size: .75rem;
    font-weight: var(--ifm-font-weight-normal);
    background-color: var(--ifm-color-secondary);
}

.tabs-container .margin-vert--md {
    margin: 0 !important;
}

.tabs__item {
    border-style: solid;
    border-width: 1px 0;
    border-color: transparent;
}

.tabs__item--active {
    border-top-color: var(--ifm-tabs-color-active-border);
}


/* ------------------------------------------- */
/* TABLE OF CONTENTS */
/* ------------------------------------------- */

.table-of-contents__link {
    padding-top: .25rem;
    padding-bottom: .25rem;
    display: block;
}


/* ------------------------------------------- */
/* EDIT */
/* ------------------------------------------- */

.theme-doc-footer-edit-meta-row {
    align-items: center;
}

.theme-edit-this-page {
    display: inline-block;
    vertical-align: top;
    padding-left: 2.25rem;
    line-height: 1.5rem;
    background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle opacity='0.5' cx='12' cy='12' r='11' stroke='%235F8AFA' stroke-width='2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.46446 12.7071L11.2929 15.5355L18.364 8.46446L15.5355 5.63603L8.46446 12.7071ZM9.87868 12.7071L11.2929 14.1213L16.9497 8.46446L15.5355 7.05025L9.87868 12.7071Z' fill='%235F8AFA'/%3E%3Cpath d='M7.75735 13.4142L6.34314 17.6569L10.5858 16.2426L7.75735 13.4142Z' fill='%235F8AFA'/%3E%3C/svg%3E%0A") no-repeat;
}

.theme-edit-this-page svg {
    display: none;
}

.theme-doc-footer-edit-meta-row .col:last-child {
    margin-top: 0;
    font-style: normal;
}

.theme-last-updated {
    color: var(--ifm-color-emphasis-700);
}

.theme-last-updated b {
    font-weight: inherit;
    color: var(--ifm-heading-color);
}


/* ------------------------------------------- */
/* PAGINATION */
/* ------------------------------------------- */

nav.pagination-nav {
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: solid 1px var(--ifm-color-emphasis-200);
}

.pagination-nav__sublabel {
    margin-bottom: .5rem;
    font-size: .75rem;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.pagination-nav__link {
    border: 0;
    padding: 0;
}

.pagination-nav__label {
    font-weight: var(--ifm-font-weight-semibold);
    font-size: 1.125rem;
    color: var(--ifm-heading-color);
}


/* ------------------------------------------- */
/* FOOTER FIXES */
/* ------------------------------------------- */

.near-global-footer a:hover {
    text-decoration: none;
}
