.customCollapsible {
  transition: all 0.2s ease;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  position: relative;
  display: flex;
  align-items: center;

  &::after {
    content: '';
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 22px;
    height: 22px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 3px;
    height: 0;
    background: var(--ifm-font-color-base);
    transition: height 0.2s ease;
    border-radius: 2px;
  }

  &:hover {
    background-color: rgba(59, 130, 246, 0.1);

    &::before {
      height: 80%;
      background: var(--icon-svg-color);
    }
  }

  &--active {
    background-color: var(--ifm-hover-overlay);
    color: #5f8afa !important;

    &::before {
      height: 100%;
    }
  }

}

.customMenuLink {
  border-radius: 8px;
  font-size: .8rem;
  font-weight: 800;
  letter-spacing: .8px;
  position: relative;
  text-transform: uppercase;
  transition: .2s;
  padding: .5rem 1rem;
  margin: 0.25rem 0;
}
