.customCollapsible {
  display: flex;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 3px;
    height: 0;
    background: var(--ifm-font-color-base);
    transition: height 0.2s ease;
    border-radius: 2px;
  }

  &:hover {
    &::before {
      height: 80%;
      background: var(--icon-svg-color);
    }
  }
}

.customCollapsibleActive {
  background: var(--ifm-menu-color-background-hover);

  &::before {
    height: 95%;
    background: var(--icon-svg-color);
  }
}

/* Add left border for active subcategories only (not main categories) */

/* Add left border for open subcategories (not main categories) */
.openSubcategory {
  border-left: 2px solid rgba(151, 151, 151, 0.851);
  border-radius: 0;
}

.customMenuLink {
  color: var(--ifm-font-color-base);
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-size: .8rem;
  font-weight: 800;
  padding: .5rem 1rem;
  margin: 0.25rem 0;

  &:hover {
    background-color: rgba(59, 130, 246, 0.1);
  }
}
