/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
    .navigationSlider .slidingNav ul li a {
        color: white !important;
    }
}

@media only screen and (max-width: 1023px) {
    .navigationSlider .slidingNav ul li a {
        color: white !important;
    }
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.toc .toggleNav ul li.navListItemActive a{
    color: white;
}

.onPageNav .toc-headings > li > a.active {
    color: white;
}

.onPageNav .toc-headings > li > a.active {
    color: #24272A;
}

.toc .toggleNav ul li a {
    color: #519EDC;
}

a {
    color: #519EDC;
}

.toc .toggleNav ul li.navListItemActive a {
    color: #9D9D9D;
}

.fixedHeaderContainer header{
    background-color: #24272A;
    color: white;
    height: 75px;
    padding: 25px 15px 10px 15px;
    margin-top: -15px;
    margin-left: -20px;
}

input#search_input_react{
    background-color: rgba(255, 254, 254, 0.2);
    width: 400px;
}
.navGroups {
    background: #F8F8F8;
    margin-top: -7px;
    padding-left: 15px;
}

.mainContainer .wrapper .post {
    background-color: white;
    margin-left: -20px;
    margin-top: -5px;
    margin-right: -10px;
    padding-left: 10px;

}