/* your custom css */

:root {
    --h1-font-size: 32px;
    --h2-font-size: 28px;
    --h6-font-size: 20px;
    --nav-font-size: 14px;
    --footer-font-size: 18px;
    --cls-4-font-size: 72px;

    --near-color-black: #1a1c1f;
    --near-color-slate: #4b4f54;
    --near-color-red: #ff585d;
    --near-color-blue: #6ad1e3;
    --near-color-yellow-light: #fcfbe5;
    --near-color-yellow: #f0ec74;
    --near-color-yellow-dark: #c5c25f;
    --near-color-royal: #0072ce;

    --color-error: red;
    --color-footer: #23262a;

    --near-font-headlines: BwSeidoRound-Medium, sans-serif;
    --near-font-body: Benton-Sans, sans-serif;
}

body {
    font-family: var(--near-font-body);
}

img :not(.logo) :not(.roleButtonWrapper img) {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 3px;
    border-radius: 5px;
}

#footer img {
    box-shadow: none;
    border-radius: none;
}

h6 {
    font-family: var(--near-font-headlines);
    font-size: var(--h6-font-size);
}

ol.steps {
    list-style: none;
    counter-reset: lesson-step-counter;
    margin: 0;
    padding: 0;
    border-bottom: 5px solid var(--near-color-royal);
}

ol.steps li {
    counter-increment: lesson-step-counter;
    display: flex;
    margin-bottom: 2rem;
    padding-top: 2rem;
    border-top: 3px solid #eee;
}

ol.steps li:nth-child(1) {
    border-top: none;
}

ol.steps:after {
    content: "done";
    font-family: var(--near-font-headlines);
    font-size: var(--h6-font-size);
    line-height: 1.7;
    color: var(--near-color-royal);
}

ol.steps li::before {
    content: "step ( " counter(lesson-step-counter) " )";
    font-family: var(--near-font-headlines);
    font-size: var(--h6-font-size);
    min-width: 100px;
    margin-right: 0.5rem;
    line-height: 1.7;
    color: var(--near-color-royal);
}

span.error {
    color: var(--color-error);
}

/* blockquote callouts */
/* icons https://fontawesome.com/cheatsheet */

blockquote {
    color: var(--near-color-slate);
    border-left: 8px solid var(--near-color-yellow-dark);
    background-color: var(--near-color-yellow-light);
}

blockquote.lesson,
blockquote.success,
blockquote.info,
blockquote.warning,
blockquote.danger {
    position: relative;
    margin: 50px 0 50px 0;
    padding: 20px;
    border-radius: 3px 3px 3px 3px;
}

blockquote.lesson:before,
blockquote.success:before,
blockquote.info:before,
blockquote.warning:before,
blockquote.danger:before {
    font-family: "FontAwesome";
    left: -5px;
    position: relative;
}

blockquote.lesson {
    background-color: #b9d8f1;
    border-left: none;
    border-top: 10px solid var(--near-color-slate);
    margin-bottom: 1em;
    color: var(--near-color-slate);
}

blockquote.lesson:before {
    content: "\f121";
}

blockquote.lesson span {
    margin-left: 5px;
    color: var(--near-color-royal);
    font-weight: bold;
}

blockquote.success {
    color: var(--near-color-slate);
    background-color: #ccece1;
    border-left: none;
    border-bottom: 10px solid var(--near-color-slate);
}

blockquote.success:before {
    content: "\f00c";
}

blockquote.info {
    border-left: 8px solid var(--near-color-royal);
    background-color: white;
}

blockquote.info strong {
    color: var(--near-color-royal);
}

blockquote.info:before {
    color: var(--near-color-royal);
    content: "\f1b0";
}

blockquote.warning {
    border: 2px solid var(--near-color-yellow-dark);
    border-left: 8px solid var(--near-color-yellow-dark);
    background-color: white;
}

blockquote.warning strong {
    color: var(--near-color-slate);
}

blockquote.warning:before {
    color: #afac55;
    content: "\f071";
}

blockquote.danger {
    color: var(--near-color-red);
    border: 2px solid var(--near-color-red);
    border-left: 8px solid var(--near-color-red);
    background-color: white;
}

blockquote.danger:before {
    content: "\f056";
}

/* navbar height overrides */
.fixedHeaderContainer {
    padding: 6px 0;
}

/* logo sizing */
img.logo {
    width: 184px;
    position: absolute;
    top: 8px;
    left: 0;
    padding: 0;
    margin: 0;
}

/* fonts and headers */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--near-font-headlines);
}

h1 {
    font-size: var(--h1-font-size);
    margin: 0 0 0 0;
}

h2 {
    font-size: var(--h2-font-size);
    margin: 10 0 0 0;
}

/* global highlights */
* {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
}

::selection {
    background: var(--near-color-yellow);
    color: #fff;
}

/* global spacing */
.docMainWrapper .wrapper,
.headerWrapper.wrapper,
.wrapper {
    padding: 0;
    margin: 0;
}

.footerPreText {
    display: block !important;
}

.toc .toggleNav ul {
    padding: 0;
    margin-left: 5px;
    width: 90%;
}

.mainContainer {
    padding: 70px 20px;
}

.mainContainer .wrapper .post .postHeader {
    margin-bottom: 24px;
}

/* pizzazz */
span.arrow {
    visibility: hidden;
}
span.arrow::after {
    content: "";
    visibility: visible;
    background-image: url(../../img/Icons/icon-arrow-up.svg);
    display: inline-block;
    position: absolute;
    top: 6px;
    left: 6px;
    height: 12px;
    width: 12px;
    background-repeat: no-repeat;
}

/* large screen styles */
@media only screen and (min-width: 1024px) {
    .toc section .navGroups {
        padding-top: 35px;
        padding-left: 10px;
        margin-right: 0px;
        width: 250px;
    }

    .navGroup:after {
        content: "";
        border-bottom: solid 2px #e6e6e6;
        width: 222px;
        display: block;
    }

    ul .navGroup:after {
        content: "";
        border: none;
    }

    .navGroups:before {
        display: block;
        padding-bottom: 22px;
        letter-spacing: 0.18em;
        font-size: var(--nav-font-size);
        color: rgb(144, 144, 144);
    }

    .navigationSlider {
        margin-left: 20%;
    }

    .navigationSlider .slidingNav ul li a {
        color: var(--near-color-blue);
        letter-spacing: 0.11em;
    }

    .navigationSlider .slidingNav ul li.siteNavGroupActive a {
        color: var(--near-color-red);
    }

    .toc {
        padding: 0;
    }

    .mainContainer {
        padding: 20px 5px;
        margin: 10px;
    }

    .separateOnPageNav .wrapper,
    .separateOnPageNav .headerWrapper.wrapper {
        margin: 0;
        max-width: 100%;
    }

    .separateOnPageNav .docsNavContainer {
        flex: 0 0 250px;
        height: calc(100vh - 72px);
        top: 72px;
        border-right: 1px solid rgb(224, 224, 224);
        overflow-y: hidden;
    }

    .separateOnPageNav .docsNavContainer:hover {
        overflow-y: auto;
    }

    .navPusher {
        min-height: calc(100vh - 72px);
        padding-top: 72px;
    }

    .toc .toggleNav .navGroup .navGroupCategoryTitle {
        font-size: var(--nav-font-size);
        letter-spacing: 0.13em;
    }

    /* floating right hand side table of contents */
    .onPageNav:before {
        display: block;
        padding-bottom: 22px;
        letter-spacing: 0.18em;
        font-size: var(--nav-font-size);
        color: rgb(144, 144, 144);
    }

    .onPageNav {
        top: 100px;
        padding-right: 15px;
    }
    .onPageNav:hover {
        overflow-y: auto;
    }

    input#search_input_react {
        width: 200px;

    }

    input#search_input_react:focus,
    input#search_input_react:active {
        width: 200px;
    }
}

/* small screen styles */
@media only screen and (max-width: 1024px) {
    .reactNavSearchWrapper input#search_input_react {
        width: 100%;
        height: 100%;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .navigationSlider .slidingNav ul li a {
        color: var(--near-color-blue);
    }

    .navigationSlider .slidingNav ul li.siteNavGroupActive a {
        color: var(--near-color-red);
    }
}

.wrapper {
    max-width: 100%;
}

.onPageNav .toc-headings > li > a.active {
    color: #24272a;
}

.toc .toggleNav ul li a {
    color: var(--near-color-royal);
}

.navGroupCategoryTitle {
    font-family: var(--near-font-headlines);
    color: var(--near-color-slate);
}
.navGroupSubcategoryTitle {
    font-family: var(--near-font-headlines);
    color: var(--near-color-slate);
    font-variant-caps: all-petite-caps;
    margin-left: 5px;
}

.navItem {
    margin-left: 15px;
}

.toc .toggleNav .navListItem a:hover {
    color: var(--near-color-red);
}

.nav-footer {
    background-color: var(--color-footer);
    padding-bottom: 0;
}

.nav-footer .sitemap .nav-home {
    width: 142px;
}

/* left-side navigation highlight active item */
.toc .toggleNav ul li.navListItemActive a {
    color: var(--near-color-slate);
    background: #ffeff0;

    border: 1px solid #ffd1d2;
    margin: -1px 0 -1px -5px;

    border-left: 5px solid var(--near-color-red);
    padding-left: 15px;
    border-radius: 3px;
    width: 222px;
}

a {
    color: var(--near-color-royal);
}

.fixedHeaderContainer header {
    background-color: #24272a;
    color: white;
    height: 75px;
    padding: 30px 15px 10px 15px;
    margin-top: -15px;
}

input#search_input_react {
    background-color: var(--near-color-slate);
}

/* hide the magnifying glass */
.reactNavSearchWrapper::before, .reactNavSearchWrapper::after {
    display: none;
}


.extendedFooter {
    background-color: var(--near-color-black);
    line-height: 120px;
    text-align: center;
}

.footerTitle {
    color: var(--near-color-blue) !important;
    font-family: BwSeidoRound-Bold;
}

.footerPreText {
    font-size: var(--footer-font-size);
    color: rgb(153, 153, 153);
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin-bottom: 75px;
}

.footerTableRow {
    background-color: transparent !important;
    padding: 0;
    border: 0;
}
.footerTableCell {
    background-color: transparent;
    padding: 0;
    border: 0;
}

.footerTable {
    overflow: visible;
}

.footerTableBorderLeft {
    border-right: 1px solid #dfe2e5;
}
.footerTableBorderBottom {
    border-bottom: 1px solid #dfe2e5;
}

footer .menu-item a {
    color: white;
}

footer a {
    color: white;
}

footer div.bg-black-25 ul {
    margin: 0px;
}

footer div.bg-black-25 ul li:nth-child(1) {
    padding-top: 3px;
}

.footer-social-list li:nth-child(1) {
    margin: 3.5px 0px 0px;
}

.footer-social-list .border-r-1 {
    border-right: 1px solid var(--near-color-slate);
}

.footer-social-list .border-t-1 {
    border-top: 1px solid var(--near-color-slate);
}

.cls-4 {
    font-size: var(--cls-4-font-size);
    font-family: var(--near-font-headlines);
    font-weight: 500;
}

/* not sure what's making this link fade out but this stops it */
/* note, this selector was generated by Google Chrome */
body > div.navPusher > footer > div.bg-black-25.py-20.md\:py-30 > div > a:hover {
    color: #fff;
}
