.btn {
  vertical-align: top;
  padding: 10px;
  border-radius: .7rem;
  font-weight: 700;
  line-height: 20px;
  background-color: #00c08b;
  color: #fff;
  text-align: center;
  transition: .2s;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  margin: auto .7rem auto .4rem;
}