name: CI

on:
  workflow_dispatch:
  pull_request:
    types: [opened, reopened, synchronize]
    branches:
      - master
  push:
    branches:
      - master

jobs:
  build-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '19'
      - name: Build docusaurus crowdin docs
        run: |
          cd website && yarn
          yarn crowdin:build
          yarn build
        # yarn build --locale en --out-dir build \
        #   && yarn build --locale ko --out-dir ko \
        #   && yarn build --locale vi --out-dir vi \
        #   && yarn build --locale zh-CN --out-dir zh-CN
        env:
          CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}
          NODE_OPTIONS: --max-old-space-size=8192
