name: Link Checker

on:
  workflow_dispatch

jobs:
  check_links:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "22"

      - uses: actions/cache@v3
        with:
          path: |
            ${{ github.workspace }}/**/.cache
          key: |
            ${{ runner.os }}-docusaurus-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-docusaurus-${{ hashFiles('**/yarn.lock') }}

      - name: Install dependencies
        run: cd ./website && yarn

      - name: Run test
        run: cd ./website && yarn full-test
