name: Link Checker

on: [pull_request]

jobs:
  check_links:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '19'

    - name: Install dependencies
      run: cd ./website && npm install

    - name: Run test
      run: cd ./website && npm run full-test
